/* NAV BAR */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding:15px;
    background-color: #181314;
}

.navbar a {
    float: left;
    padding: 0 10px;
    color: #fff;
    display: block;
    text-align: center
}

.navbar a:hover {
    color: cyan;
    display: block;
    background-color: #333131;
    padding: 0px 10px;
}

/* PHOTOSPACING */
.Photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: brightness(180%) contrast(90%);
}

.Rounded {
    border:#000 2px solid;
    border-radius: 10px;
    border-spacing: auto;
}
/* END PHOTO SPACING */

/* TEXT OVER IMAGE */
.Text {
    position: absolute;
    bottom: 10px;
    left: 14px;
    color: #fff;
}
/* END TEXT OVER IMAGE */


/* FOOTER */
.Footer {
    text-align:center;
    font-weight: bold;
}
/* END FOOTER */

/* TABLE */
table {
    border: #000 2px dotted;
    background-color: #af8792
}

th, td {
    border: #000 3px solid;
    font-family: 'Courier New', Courier, monospace;
    color: #fff
}
table, th, td {
    padding: 10px;
    margin: 30px 40%;
}

th {
    background-color: darkblue
}

td {
    background-color: #8a0606
}
/* END TABLE */

/* Column */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_1{
    float: left;
    width: 50%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: #a12b4a;
}
.column_2{
    float: left;
    width: 50%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #0c2e38;
    color: #fff;
}