table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
td:hover {
	Background-Color:blue;
	Color:black;
}
tr, td {
	background-color: cyan;
	color: black;
}
tr, th {
	background-color: black;
	color: white;
}