.base_text{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size:1em;
    color: rgba(0, 0, 0, 0.815);
}

.form_head_style {
   font-family: Comic Sans MS, Comic Sans, cursive;
}

  
  .rsvp {
      font-family:Comic Sans MS, Comic Sans, cursive;
      margin: 10px 1%;
      background-color: #1a001a;
      color:#fff;
      border-radius: 2px;
      padding: 5px 0px;
      width: 10%;
      border:groove;
     
  }
  
  .li {
    list-style:none
  }
  .form-spacer input[type="submit"] {
      color:#fff;
      cursor: pointer;
      text-align: center;
      font-family:Comic Sans MS, Comic Sans, cursive;
      margin: 50px 1%;
      padding: 10px 0px;
      width: 10%;
      font-size:14px;
      border-radius: 10px;
      background-color:#1a001a;
      border:groove;
  }
  
  .form-spacer input[type="submit"]:hover {
      color: #800055;
      font-weight:bold;
      background-color: #fff;
      box-shadow: inset 1px 2px 15px 0 #ffccee;
  }